*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color1: #FFBD00;
    --primary-color2: #ff60ce;
    --primary-color3: #0b0016;
}

body {
    background-color: var(--primary-color3);
}

header {
    background: linear-gradient(#0b001652, #0b0016f6), url("./../images/h1_hero1.jpg_11zon.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    width: 100%;
    height: 100vh;
}


ul {
    list-style: none;
    align-items: center;
}

.checkbox {
    visibility: hidden;
}

ol {
    position: absolute;
    background-color: white;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 70PX;
    margin-top: 25PX;
    visibility: hidden;
    line-height: 30px;
}

.blog-menu:hover>ol {
    visibility: visible;
    color: #343a40;
    font-family: sans-serif;
}

ol>li:hover {
    color: var(--primary-color2);
    cursor: pointer;
    transition: 1s;
}

.logo {
    padding: 15px 10px;
}

.logo:hover {
    cursor: pointer;

}

a {
    text-decoration: none;
    color: white;
    padding: 30px 20px;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-color2);
    cursor: pointer;
    transition: 1s;
}

.cantiner1 {
    max-width: 1300px;
    margin: 0 auto;
}



.d-felex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

nav {
    background: transparent;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 10px;
}

.bx-menu {
    color: white;
    display: none;
}

.confirm-hedear {
    background-color: var(--primary-color1);
    padding: 15px 30px;
    border-color: var(--primary-color1);
}

.confirm-hedear:hover {
    cursor: pointer;
    background: transparent;
    border-color: var(--primary-color1);
    color: var(--primary-color1);
    transition: 0.5s;
}


.confirm-button {
    background-color: var(--primary-color1);
    padding: 15px 30px;
    border-color: var(--primary-color1);
}

.confirm-button:hover {
    cursor: pointer;
    background: transparent;
    border-color: var(--primary-color1);
    color: var(--primary-color1);
    transition: 0.5s;
}

h1 {
    width: 40%;
    color: white;
    font-size: 90px;
    font-family: sans-serif;
    line-height: 1;
}

.sandiego {
    margin-top: 150px;
}

h1>span {
    color: var(--primary-color1)
}

.video-icon {
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.Conference-date-and-ticket-purchase {

    font-family: sans-serif;
    text-align: right;
}

h4 {
    color: var(--primary-color2);
    font-size: 40px;
}

.conference-location {
    color: white;
    font-size: 15px;
    padding: 10px 0;
}

.buy-ticket {
    color: var(--primary-color1);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--primary-color1);
    padding: 15px 30px;
}

.buy-ticket:hover {
    background-color: var(--primary-color1);
    border-color: var(--primary-color1);
    color: white;
    cursor: pointer;
}

h2 {
    padding-bottom: 25px;
    color: white;
    font-size: 45px;
    font-family: sans-serif;
}

.hedear-bottom {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.right-box {
    grid-column: 3/4;
}

.paragraf-rightbox-hedearbottom {
    padding-bottom: 20px;
    color: #9B9EAC;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
}

.box-bottom-paragraf-rightbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-bottom-paragraf-rightbox>div>span {
    color: var(--primary-color2);
    font-size: 40px;
    font-family: sans-serif;
}

.box-bottom-paragraf-rightbox>div>p {
    color: #9B9EAC;
    font-size: 18px;
    font-family: sans-serif;
}

.titel-and-button {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: white;
    font-size: 45px;
    font-family: sans-serif;

}

.speakers-of-button {
    background-color: transparent;
    color: var(--primary-color1);
    padding: 15px 30px;
    border-color: var(--primary-color1);
}

.speakers-of-button:hover {
    color: white;
    background-color: var(--primary-color1);
    cursor: pointer;
}

.speakers-picture {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

h5 {
    color: var(--primary-color1);
    font-size: 25px;
    font-family: sans-serif;
    padding: 15px 0;
}

h5:hover {
    color: var(--primary-color2);
    cursor: pointer;
}

figcaption {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

figcaption>span {
    color: #9B9EAC;
    font-size: 15px;
}

.box-speakers-person {
    position: relative;
    overflow: hidden;
    height: 50vh;
}

.speakers-person {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: 1s;
}

.box-icon {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 1s;
}

.icon:hover {
    cursor: pointer;
}

figure:hover>div>img.speakers-person {
    transform: scale(1.1);
    transition: 1s;
}

figure:hover>div>div.box-icon {
    top: 85%;
}

.celebration-of-design {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
}

h6 {
    color: white;
    font-size: 45px;
    font-family: sans-serif;
}

h6>span {
    color: var(--primary-color1);
    font-size: 45px;
    font-family: sans-serif;
}

h6~p {
    color: #9B9EAC;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 10px 0;
}

.schedule {
    padding-top: 100px;
}

h7 {
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    margin-top: 200px;
}

.schedule-tabel {
    background-color: #0e0e0e;
    margin: 30px 50PX;
    width: 95%;
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: center;
    border-bottom: #212529 1px solid;
    margin: 0 3%;
}

.schedule-17th {
    padding: 30px 0;
    margin: 0 30px;
    color: var(--primary-color1);
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: #FFBD00 solid 3px;
}

.schedule-17th:hover {
    cursor: pointer;
}

.schedule-18-19th:hover {
    cursor: pointer;
    border-bottom: #FFBD00 solid 3px;
}

.schedule-18-19th {
    padding: 30px 0;
    color: white;
    margin: 0 30px;
    font-size: 20px;
    font-family: sans-serif;
}

.schedule-Specifications {
    margin: 15% 3%;
}

.box-iteam {
    display: flex;
    justify-content: space-between;
    border-bottom: #212529 1px dashed;
    margin-bottom: 20px;
}

.paragraf-iteam {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

.paragraf-iteam2 {
    color: #9B9EAC;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px 0;
}

.time-box-iteam {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

.schedule-picture {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.schedule-person {
    overflow: hidden;
    transform: translate(1);
    transition: 1s;
}


.box-schedule-person {
    width: 400px;
    overflow: hidden;
}

.figure-person:hover>div.box-schedule-person>img.schedule-person {
    transform: scale(1.1);
    transition: 1s;
}

figcaption>h5 {
    color: white;
}

.figure-person:hover>figcaption>h5 {
    color: var(--primary-color1);
}

.map-img {
    margin-top: 100px;
    width: 100%;
    height: 60vh;
}

.aftermap {
    margin-top: 100px;
    background-color: black;
    height: 40vh;
}

.titel-brands {
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    padding: 50px 0;
}


.schedule-brands {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}


.paragraf-footer {
    padding: 20px;
    color: #9B9EAC;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.8;
}

.footer-icon:hover {
    cursor: pointer;
}

.Contact-Us {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 10px;
}

.paragraf-contact-us {
    display: inline-block;
    color: #9B9EAC;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.8;
}

.paragraf-contact-us:hover {
    color: white;
    border-bottom: white solid 1px;
    cursor: pointer;
    padding-left: 2PX;
}

.number-contact-us {
    padding-top: 10px;
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;
    color: var(--primary-color1);
}

.number-contact-us:hover {
    border-bottom: solid;
    cursor: pointer;
    padding-left: 2px;
}

.subscribe {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 10px;
}

.paragraf-subscribe {
    color: #9B9EAC;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.8;
    padding-bottom: 10px;
}

.email {
    display: block;
    background-color: transparent;
    font-size: inherit;
    font-family: sans-serif;
    border: solid 2px;
    border-color: #9B9EAC;
    padding: 15px;
    width: 100%;
}

.botton-subscribe {
    padding: 20px 40px;
    background-color: var(--primary-color1);
    color: black;
    border-color: var(--primary-color1);
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.botton-subscribe:hover {
    cursor: pointer;
}

.footer-site {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border-top: #9B9EAC 1px solid;
    padding: 30px 0;
}



.paragraf-footer-site {
    font-size: 15px;
    font-family: sans-serif;
    color: #9B9EAC;
}

.footer-site>p~span {
    color: var(--primary-color1);
}

.footer-site>p~span:hover {
    cursor: pointer;
}

@media (min-width:300px) and (max-width:767px) {

    .cantiner1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    header>section>nav>img.logo {
        width: 150px;
    }

    nav {
        flex-direction: column;
    }


    .menu-box {
        visibility: visible;
        background-color: #4C4C4C;
        height: 7vh;
        padding-top: 13px;
        z-index: 999;
        border-radius: 10px;
    }

    .bx-menu {
        color: white;
        display: inline;
        padding: 8px 10px;
        background-color: #222222;
        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
        border-radius: 5px;

    }

    .checkbox {
        visibility: hidden;
    }

    input:checked+ul {
        width: 100%;
        visibility: visible;
    }

    ul {
        padding-top: 10px;
        flex-direction: column;
        line-height: 2;
        align-items: flex-start;
        flex-wrap: nowrap;
        visibility: hidden;
        color: white;
        background-color: #4C4C4C;
        border-radius: 5px;
    }

    ol {
        display: none;
    }

    header {
        height: 550px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    h1 {
        display: block;
        font-size: 2rem;
    }

    .sandiego {

        margin-top: 10px;
    }

    .hedear-bottom {
        padding-top: 100px;
        display: block;
    }

    h2 {
        font-size: 2rem;
    }

    .confirm-hedear {
        display: none;
    }


    .confirm-button {
        padding: 25px 45px;
    }

    .right-box {
        padding-top: 30px;
    }

    .box-bottom-paragraf-rightbox {
        display: block;
    }

    .box-bottom-paragraf-rightbox>div {
        margin-top: 40px;
    }

    .box-bottom-paragraf-rightbox>div>p {
        padding-top: 13px;
    }

    .titel-and-button {
        display: block;
    }

    h3 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .box-speakers-person {
        height: auto;
    }

    .speakers-picture {
        display: block;
    }

    figcaption>h5 {
        padding-bottom: 5px;
    }

    figure {
        padding-bottom: 30px;
    }

    .celebration-of-design {
        padding-top: 100px;
        display: block;
    }

    .celebration-of-design>img {
        width: 100%;
        background-size: contain, cover;
        padding-bottom: 30px;
    }

    h6 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }

    h6>span {
        font-size: 1.6rem;
    }

    h7 {
        font-size: 2rem;
    }

    .figure-person {
        text-align: center;
        width: 100%;
    }

    .schedule-picture {
        display: block;
    }


    .map-img {
        width: 100%;
    }

    .aftermap {
        width: 100%;
        height: auto;
    }

    .titel-brands {
        font-size: 1.6rem;
    }

    .schedule-brands {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 25%;
    }

    .schedule-brands>img {
        padding-bottom: 50PX;
    }

    .footer {
        display: block;
    }

    .schedule-tabel {
        margin: 0 0;
        width: 100%;
        height: auto;
    }



    .paragraf-iteam {
        font-size: 18px;
    }

    .time-box-iteam {
        font-size: 15px;
    }

    .box-schedule-person {
        width: 100%;
    }

    .footer-icon {
        padding-bottom: 30px;
    }

    .number-contact-us {
        font-size: 34px;

    }

    .subscribe {
        padding-top: 40px;
    }

    .footer-site {
        text-align: center;
    }

    .paragraf-footer-site {
        font-size: 13px;
    }
}

@media (min-width:768) and (max-width:1024) {
    .cantiner1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    header>section>nav>img.logo {
        width: 150px;
    }

    nav {
        flex-direction: column;
    }


    .menu-box {
        visibility: visible;
        background-color: #4C4C4C;
        height: 7vh;
        padding-top: 13px;
        z-index: 999;
        border-radius: 10px;
    }

    .bx-menu {
        color: white;
        display: inline;
        padding: 8px 10px;
        background-color: #222222;
        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 10px;
    }

    .checkbox {
        visibility: hidden;
    }

    input:checked+ul {
        width: 100%;
        visibility: visible;
    }

    ul {
        padding-top: 10px;
        flex-direction: column;
        line-height: 2;
        align-items: flex-start;
        flex-wrap: nowrap;
        visibility: hidden;
        color: white;
        background-color: #4C4C4C;
        border-radius: 5px;
    }

    ol {
        display: none;
    }

    header {
        height: 550px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    h1 {
        font-size: 3rem;
    }

    .sandiego {
        margin-bottom: 150px;
    }

    .hedear-bottom {
        padding-top: 100px;
        display: block;
    }

    h2 {
        font-size: 2rem;
    }

    .confirm-hedear {
        display: none;
    }


    .confirm-button {
        padding: 25px 45px;
    }

    .right-box {
        padding-top: 30px;
    }

    .box-bottom-paragraf-rightbox {
        display: block;
    }

    .box-bottom-paragraf-rightbox>div {
        margin-top: 40px;
    }

    .box-bottom-paragraf-rightbox>div>p {
        padding-top: 13px;
    }

    .titel-and-button {
        display: block;
    }

    h3 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .box-speakers-person {
        height: auto;
    }

    .speakers-picture {
        display: block;
    }

    figcaption>h5 {
        padding-bottom: 5px;
    }

    figure {
        padding-bottom: 30px;
    }

    .celebration-of-design {
        padding-top: 100px;
        display: block;
    }

    .celebration-of-design>img {
        width: 100%;
        background-size: contain, cover;
        padding-bottom: 30px;
    }

    h6 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }

    h6>span {
        font-size: 1.6rem;
    }

    h7 {
        font-size: 2rem;
    }

    .figure-person {
        text-align: center;
        width: 100%;
    }

    .schedule-picture {
        display: block;
    }

    .aftermap {
        width: 100%;
        height: auto;
    }

    .map-img {
        width: 100%;
    }

    .titel-brands {
        font-size: 1.6rem;
    }

    .schedule-brands {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 25%;
    }

    .schedule-brands>img {
        padding-bottom: 50PX;
    }

    .footer {
        display: block;
    }

    .schedule-tabel {
        margin: 0 0;
        width: 100%;
        height: auto;
    }



    .paragraf-iteam {
        font-size: 18px;
    }

    .time-box-iteam {
        font-size: 15px;
    }

    .box-schedule-person {
        width: 100%;
    }

    .footer-icon {
        padding-bottom: 30px;
    }

    .number-contact-us {
        font-size: 34px;

    }

    .subscribe {
        padding-top: 40px;
    }

    .footer-site {
        text-align: center;
    }

    .paragraf-footer-site {
        font-size: 13px;
    }
}